@import '../global/variables';

.box-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: $v-space*2;

  .col {
    background-image: url(../../images/box-list-1.png);
    background-position: right bottom;
    background-size:contain;
    background-repeat: no-repeat;
    background-color: $yellow;
    aspect-ratio: 1/1;
    display: inline-flex;
    flex: 1;
    padding: 4%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.4em;
    min-width: 40%;
    max-width: auto;
    
    align-items: center;

    &:nth-child(2) {
      background-image: url(../../images/box-list-2.png);
    }
    &:nth-child(3) {
      background-image: url(../../images/box-list-3.png);
    }    
    &:nth-child(4) {
      background-image: url(../../images/box-list-4.png);
    }
  }

  @include breakpoint(md, min-width) {
    flex-direction: row;
    
    justify-content: space-between;
    align-items: flex-start;

    .col {
      font-size: 0.85rem;
      padding: 2%;
      line-height: 1.2em;
      min-width: auto;
      max-width: auto;
    }
  }

  @include breakpoint(lg, min-width) {
    .col {
      font-size: 1rem;
      line-height: 1.3em;
    }
  }
}