@import '../global/variables';

.carousel {
  // background: $yellow;
  // background-image: url(../../images/slideshow-back.png);
  // background-repeat: no-repeat;
  // background-size: 50%;
  // background-position: right top;
  width: 50%;

  .slide {
    .col {
      display: inline-flex;
      align-items: center;
      padding: 1em 1em 2em 1em;
      min-height: 200px;
      text-align: center;

      p {
        width: 100%;
      }
    }

    .image-col {
      position: relative;

      img {
        object-fit: cover;
        min-height: 100%;
      }
    }

    @include breakpoint(md, min-width) {
      display: flex;
  
      // .col {
      //   width: 25%;
      //   padding: 2em 1em 4em 1em;
      // }
  
      .image-col {
        width: 100%;
      } 
    }
  }

  @include breakpoint(md, min-width) {
    background-size: 20%;
    background-position: 10% top;
  }
}

.flickity-button {
  background: transparent;
  color: $white;
} 