@font-face {
  font-family: 'FS Siena';
  src: url('/fonts/FSSienaWeb-SemiBold.eot') format('eot'),
       url('/fonts/FSSienaWeb-SemiBold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FS Siena';
  src: url('/fonts/FSSienaWeb-Light.eot') format('eot'),
       url('/fonts/FSSienaWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}