html {
  font-size: 20px;
}

body {
  font-family: $font-body;
  background: $light;
  color: $dark;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include breakpoint(xl) {
    max-width: $full-width;
  }
  @include breakpoint(xl, max-width) {
    max-width: $full-width;
  }
  @include breakpoint(lg, max-width) {
    max-width: $large;
  }
  @include breakpoint(md, max-width) {
    max-width: $medium;
  }
  @include breakpoint(sm, max-width) {
    max-width: $small;
  }

  &-full {
    max-width: 100%;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

main {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: $font-heading;
  text-align: center;
}

h2 {
  font-size: 2em;

  @include breakpoint(md, min-width) {
    font-size: 2.25em;
  }
}

a {
  color: $dark;
}

p {
  line-height: 1.3em;
}

ul {
  li {
    margin-bottom: 10px;
  }
}

.intro {
  font-size: 2.5em;
  font-weight: 300;
  font-family: $font-heading;
  max-width: $medium;
  padding: $v-space 0;
  text-align: center;
  color: $black;
  @include breakpoint(lg, min-width) {
    font-size: 3.4em;
  }
}

.cta-link {
  background: none;
  border: 0;
  display: block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  color: $dark;
  font-size: 1.2rem;
  margin-top: $v-space;
  margin-bottom: $v-space*2;
  transition: all 200ms ease-in-out;

  &:before {
    content: '/';
    padding-right: 4px;
  } 

  &:hover {
    transform: scale(105%);
  }
}

strong {
  font-weight: 600;
  padding-bottom: 0px;
  padding-top: 10px;
  display: block;
}

.column-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: $large;

  @include breakpoint(md, min-width) {
    flex-direction: row;
  }
}

.column {
  max-width: 100%;
  min-width: auto;

  @include breakpoint(md, min-width) {
    max-width: 48%;
    min-width: 48%;
  }
}

.extra {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.extra.open,
input#contact_no:checked ~ .extra-lead {
  opacity: 1;
  max-height: 99em;
  border: 2px solid $pink;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
}
.error-box {
  padding: 2em 1em;
}
.message-box {
  padding: 2em 1em;
  display: none;
}

form {
  padding-top: 2em; 

  label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;

    span {
      font-style: italic;
      font-size: 0.85em;
    }
  }

  .radio-container {
    margin-bottom: 20px;

    label {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
    }
  
    input[type="radio"],
    input[type="checkbox"] {
      vertical-align: middle;
      width: auto;
      border: 2px solid $dark;
      width: 20px;
      height: 20px;
      margin: -4px 5px 0 5px;
    }
  }

  textarea,
  input {
    border: 2px solid $dark;
    border-radius: 4px;
    width: 94%;
    padding: 1em 2%;
    font-family: $font-body;
    font-size: 0.85rem;
  }

  .single-container {
    padding-bottom: 20px;
    div {
      padding-bottom: 10px;
    }
  }

  .column-container {
    padding-bottom: 20px;
    gap: 15px;
    div {
      flex-grow: 1;
      margin-bottom: 10px;
    }
  }

  select {
    padding: 0.5em;
    width: 98.5%;
    border: 2px solid $dark;
    font-size: 1rem;
    border-radius: 4px;
  }
}