.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  align-items: center;
  flex: 1;
  list-style: none;
  justify-content: flex-end;
  font-size: 1.125em;
  li {
    margin: 0 0.5rem;
  }
  a {
    text-decoration: none;
  }
}
.navbar-action {
  display: flex;
  align-items: center;
  padding:0 2em 0 2em;
}

.subnav-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.1em;
  a {
    padding: 10px 20px;
    text-decoration: none;
  }
}