.navbar {
  display: flex;
  justify-content: space-between;
  position: static;

  .navbar-brand {
    display: flex;
    align-items: center;
  }
}
.btn-menu {
  display: none;
  @include breakpoint(md, max-width) {
    display: block;
  }
}
.navbar-nav {
  display: flex;
  align-items: center;
  flex: 1;
  list-style: none;
  justify-content: flex-end;
  font-size: 1.125em;
  li {
    margin: 0 0.5rem;
  }
  a {
    text-decoration: none;
  }
  @include breakpoint(md, max-width) {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    max-height: 0;
    width: 100%;
    background: $light;
    z-index: 10;
    padding: 2em 0 0 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;

    li {
      margin-bottom: 1.5em;
    }

    &.menu-open {
      max-height: 100vh;
    }
  }
}
.navbar-action {
  display: flex;
  align-items: center;
  padding:0 2em 0 2em;
  @include breakpoint(md, max-width) {
    padding: 0;
  
    .btn {
      padding: 1em 0.5em;
    }
  }

}

.subnav-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.1em;
  a {
    padding: 10px 20px;
    text-decoration: none;
  }
  @include breakpoint(md, max-width) {
    display: none;
  }
}

body.mobile-open {
  overflow: hidden;
}

.kw-modal {
  z-index: 20;
  min-width: 400px;
  @include breakpoint(md, max-width) {
    min-width: 100%;
  }
}