@font-face {
  font-family: 'FS Siena';
  src: url('FSSienaWeb-SemiBold.eot') format('eot'),
       url('FSSienaWeb-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FS Siena';
  src: url('FSSienaWeb-Thin.eot') format('eot'),
       url('FSSienaWeb-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}